.personalRatingContainer {
    position: relative;
    width: 100%;
    background-color: #E4DDFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.personalRatingContainer div {
    display: flex;
    margin-bottom: 5px;
}

.personalRatingContainer label {
    margin-right: 5px;
}

.totalRatingContainer {
    display: flex;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.opinionButtonsContainer {
    display: flex;
}

.opinionButtonsContainer Button {
    margin: 4px;
}