.profileAndCoverPicContainer {
    position: relative;
    margin-bottom: 5px;
}

.profileImg, .coverImg {
    object-fit: cover;
}

.profileImg {
    position: absolute;
    height: 60%;
    width: 35%;
    border-radius: 50%;
    z-index: 1;
    top: 40%;
    left: 15%;
    border: 5px solid white;
}

.coverImg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70%;
}