.dashboardContainer {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.weekScheduleContainer, .sidePanelContainer {
  display: flex;
}

.weekScheduleContainer {
  width: 57vw;
  height: 70vh;
}

.sidePanelContainer {
  width: 32vw;
  height: fit-content;
}