.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.profilePage div {
  display: flex;
}

.tutorProfileContainer, .tutorWeekContainer {
  display: flex;
  height: fit-content;
  margin-top: 5vh;
}

.tutorWeekContainer {
  width: 60vw;
}

.tutorProfileContainer {
  flex-direction: column;
  width: 30vw;
}