.tutorView {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  margin: 8px;
}

.tutorView img {
  object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.tutorView h6 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.tutorView:hover {
  box-shadow: 0 8px 6px -6px #999999;
  transform: scale(1.03);
  transition: all 0.15s ease-in-out;
}

.tutorView:focus {
  box-shadow: 0 8px 6px -6px #999999;
  transform: scale(1.03);
  outline-width: 0;
  border: solid 1px #999999;
}